.home-button {
  width: 10rem;
  height: 2.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #2EE583;
  ;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.button-icon {
  margin-right: .5rem;
}
