.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.125rem 11.25rem;
}

.navbar-menu {
  display: flex;
  justify-content: space-around;
}

.navbar-menu li {
  margin-left: 1rem;
  color: #728FF7;
  font-weight: 500;
  cursor: pointer;
}
